<%= form_for(mgr_member) do |f| %>
    <% if mgr_member.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(mgr_member.errors.count, "error") %> prohibited this mgr_member from being saved:</h2>

          <ul>
            <% mgr_member.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <% unless params[:pass_edit] == '1' %>
        <div class="col-sm-12">
          <div class="tabbable">
            <ul id="myTab" class="nav nav-tabs tab-bricky">
              <li class="active">
                <a href="#panel_tab2_example1" data-toggle="tab">
                  基本信息
                </a>
              </li>
              <li>
                <a href="#panel_tab2_example2" data-toggle="tab">
                  权限信息
                </a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane in active" id="panel_tab2_example1">
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="form-field-1">
                    登录名：<span class="symbol required"></span>
                  </label>
                  <div class="col-sm-9">
                    <%= f.text_field(:username, class: "form-control", placeholder: "UserName", required: "required") %>
                  </div>
                </div>
                <% if mgr_member.new_record? %>
                    <div class="form-group">
                      <label class="col-sm-2 control-label" for="form-field-4">
                        密码：<span class="symbol required"></span>
                      </label>
                      <div class="col-sm-9">
                        <%= f.text_field(:password, class: "form-control", placeholder: "PassWord", required: "required") %>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label" for="form-field-4">
                        密码确认：<span class="symbol required"></span>
                      </label>
                      <div class="col-sm-9">
                        <%= f.password_field(:password_confirmation, class: "form-control", placeholder: "确认密码", required: "required") %>
                      </div>
                    </div>
                <% end %>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="form-field-1">
                    真实姓名：
                  </label>
                  <div class="col-sm-9">
                    <%= f.text_field(:name, class: "form-control", placeholder: "真实姓名") %>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="form-field-1">
                    性别：
                  </label>
                  <div class="col-sm-9">
                    <%= f.collection_radio_buttons :gender, Xmt::Core::Dict.dicts(:gender_type), :sign, :title %>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="form-field-1">
                    电话：
                  </label>
                  <div class="col-sm-9">
                    <%= f.telephone_field(:tel, class: "form-control", placeholder: "联系电话") %>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="form-field-1">
                    电子邮件：
                  </label>
                  <div class="col-sm-9">
                    <%= f.email_field(:email, class: "form-control", placeholder: "Email") %>
                  </div>
                </div>
                <div class="form-group">
                  <%= f.label(:avatar, "头像：", class: "col-sm-2 control-label") %>
                  <div class="col-sm-9">
                    <%= image_tag(mgr_member.avatar.url, width: 50, height: 50) unless mgr_member.avatar.blank? %>
                    <%= f.file_field(:avatar, class: "file") %>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="form-field-1">
                    爱好：
                  </label>
                  <div class="col-sm-9">
                    <% Xmt::Core::Dict.dicts(:hobbies_type).each do |dict| %>
                        <%= check_box_tag "member[hobbies][]", dict.sign, (checked = true if @member.hobbies && @member.hobbies.include?(dict.sign)) %>
                        <%= label_tag "member[hobbies][][#{dict.sign}]", dict.title %>
                    <% end %>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="form-field-1">
                    关于：
                  </label>
                  <div class="col-sm-9">
                    <%= f.text_area(:about, cols: 20, rows: 4, class: "form-control") %>
                  </div>
                </div>
              </div>

              <div class="tab-pane" id="panel_tab2_example2">
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="form-field-2">
                    所属站点：<span class="symbol required"></span>
                  </label>
                  <div class="col-sm-9">

                    <%= f.collection_select :site_id, [@site], :id, :subtitle, {}, class: "form-control", readonly: 'readonly' %>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="form-field-2">
                    所属角色：<span class="symbol required"></span>
                  </label>
                  <div class="col-sm-9">
                    <%= f.collection_select :role_ids, Xmt::Rbac::Role.all, :id, :name, {}, class: 'form-control', multiple: 'multiple' %>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="form-field-2">
                    所属用户组：<span class="symbol required"></span>
                  </label>
                  <div class="col-sm-9">
                    <%= f.collection_select :group_ids, Xmt::Rbac::Group.all, :id, :name, {}, class: 'form-control', multiple: 'multiple' %>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

    <% else %>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="form-field-1">
            登录名：<span class="symbol required"></span>
          </label>
          <div class="col-sm-9">
            <%= f.text_field(:username, class: "form-control", placeholder: "UserName", required: "required", readonly:"true") %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="form-field-4">
            新密码：<span class="symbol required"></span>
          </label>
          <div class="col-sm-9">
            <%= f.password_field(:password, class: "form-control", placeholder: "PassWord", required: "required") %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="form-field-4">
            新密码确认：<span class="symbol required"></span>
          </label>
          <div class="col-sm-9">
            <%= f.password_field(:password_confirmation, class: "form-control", placeholder: "确认密码", required: "required") %>
          </div>
        </div>
    <% end %>
    <div class="col-sm-12">
      <!-- start: TEXT FIELDS PANEL -->
      <div class="panel-body">
        <div class="form-group">
          <div class="col-sm-4"></div>
          <div class="col-sm-2">
            <input type="submit" name="commit" value="确认提交" class="btn btn-blue next-step btn-block" data-disable-with="确认提交">
          </div>
          <div class="col-sm-1"><a class="btn btn-primary" href="<%= xmt_staff_members_path %>">
            <i class="fa fa-reply"></i> </a></div>
        </div>
      </div>
    </div>
<% end %>
