     <div class="panel-body">

        <%= form_tag(xmt_asset_images_url(), method: "post",  multipart: true,html: {class: "form-horizontal" , onkeydown:"if(event.keyCode==13){return false;}" }) do  %>
           <%= hidden_field_tag :file_path,@current_path %>
           <div class="row">
             <div class="col-sm-12">
               <div class="form-group" id="PictureGroup">
                 <%= label_tag("pictures[]","图片集：",class: "col-sm-2 control-label")%>
                 <%= file_field_tag("pictures[]", class: "file", multiple: true) %>
                 </div>
             </div>


            <div class="form-group">
              <div class="col-sm-4"></div>
              <div class="col-sm-2"><input type="submit" name="commit" value="确认提交" class="btn btn-blue next-step btn-block" data-disable-with="确认提交"></div>
              <div class="col-sm-1">  <a class="btn btn-primary" href="<%= xmt_asset_images_path(site_id: @site.id)%>">
                <i class="fa fa-reply"></i> </a></div>
            </div>
           </div>
        <% end %>
     </div>

