<p id="notice"><%= notice %></p>

<h1>Mgr Homes</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mgr_homes.each do |mgr_home| %>
      <tr>
        <td><%= link_to 'Show', mgr_home %></td>
        <td><%= link_to 'Edit', edit_mgr_home_path(mgr_home) %></td>
        <td><%= link_to 'Destroy', mgr_home, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mgr Home', new_mgr_home_path %>
