<div class="page-header">
  <h1>查看通知公告<small></small></h1>
</div>
<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-sm-12">
    <table id="user" class="table table-bordered table-striped" style="clear: both">
      <tbody>
      <tr>
        <td class="column-left">板块名称：</td>
        <td class="column-right">
          <%= @guest_book.title %>
        </td>
      </tr>
      <tr>
        <td class="column-left">内容：</td>
        <td class="column-right">
          <%= @guest_book.cont %>
        </td>
      </tr>
      <tr>
        <td class="column-left">所属站点：</td>
        <td class="column-right">
          <%= @guest_book.site.try(:name) %>
        </td>
      </tr>

      </tbody>
    </table>

  </div>
</div>
<div class="panel-body">
  <div class="row">
    <div class="col-md-12 space20">

      <a class="btn btn-teal" href="<%= edit_xmt_mgr_guest_book_path(@guest_book)%>">
        <i class="fa fa-edit"></i>
      </a>
      <a class="btn btn-primary" href="<%= xmt_mgr_guest_books_path%>">
        <i class="fa fa-reply"></i>
      </a>
    </div>
  </div>

</div>
