<%#title:%>
<div class="nav_list_content">
  <div class="csx_list_content_title">当前位置：首页——<%= @page.attr('parent.title')%></div>
  <!---  left start  --->
  <div class="nl_left">
    <div class="nll_news">
      <div class="nll_ntitle"><%= @page.attr('parent.title')%></div>
      <% hlp_list_channel(@page.parent.try(:id)).each do |c| %>
      <a href="<%=c.attr(:url)%>">
        <div class="nll_nlanmu"><%=c.attr(:title)%></div>
      </a>
      <%end%>
    </div>
  </div>
  <!---  left end  --->

  <!---  right start  --->


  <div class="csx_list_right_content">
    <div class="csx_list_right_content_title">
      <span><%=@page.title%></span>
    </div>
    <ul>
      <% hlp_list_article(@page.id,{count:15}).each do |article| %>
      <li>
        <div class="csx_list_right_con_li_left"> <a href="<%= article.attr(:url) %>"><%= article.attr(:title) %></a></div>
        <div class="csx_list_right_con_li_right"><%= article.attr(:published_at,{format:'%Y-%d'}) %></div>
        <div style="clear:both;"></div>
      </li>
      <%end%>
    </ul>
    <div class="ui-pagination-container center">
      <%= paginate hlp_current_list %>
    </div>
  </div>

  <!---  right end  --->
  <div style="clear:both;"></div>
</div>
