<div class="page-header">
  <h1>题库管理<small></small></h1>
</div>
<% unless notice.blank? %>
    <div class="alert alert-info alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong><%= raw notice %></strong>
    </div>
<% end %>
<div class="row">
  <div class="col-sm-12">
    <div class="tabbable">

      <div class="tab-content">
        <div id="panel_tab_example1" class="tab-pane active">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-left">

              <%= link_to  new_xmt_test_question_path(channel_id: @channel.try(:id)) ,  "class":"btn btn-orange add-row" do %>
                  <i class="fa fa-plus"></i>新增
              <% end  %>
            </div>

            <div id="sample_1_filter" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pull-right dataTables_filter search-position">
              <label>
                <form action="<%= xmt_test_questions_path %>" method="get" >
                  <div class="col-lg-4 " style="float:right;">
                    <div class="input-group" >
                      <input type="search" name="key" class="form-control" placeholder="请输入试题内容关键字搜索" aria-controls="sample_1">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                      </span>
                    </div>
                  </div>
                </form>
              </label>
            </div>
          </div>
          <table class="table table-striped table-bordered table-hover table-full-width" id="sample-table-1">
            <thead>
            <tr>
              <th class="center">所属分类</th>
              <th class="center">内容</th>

              <th class="hidden-xs center">分数</th>
              <th class="text-center">操作</th>
            </tr>
            </thead>
            <tbody>
            <% @questions.each do |question|  %>
                <tr>
                  <td class="center"><%= question.category && question.category.ancestors_and_self_name_format %></td>
                  <td class="left">
                    <%= question.content %>
                    <ol id="Answers" type="A">
                      <% question.answers.each do |answer| %>
                          <li><span><%= answer.title %></span>
                            <span>
                        <%	if(answer.righted)  %>
                          <i class="fa fa-check"></i>
                        <%	else  %>
                          <i class="fa fa-times"></i>
                        <%	end %>
                        </span>
                          </li>
                      <% end %>
                    </ol>
                  </td>
                  <td class="center"><%= question.score %></td>
                  <td class="center">
                    <div class="visible-md visible-lg hidden-sm hidden-xs">
                      <%= link_to xmt_test_question_path(question,channel_id:@channel.try(:id)), 'class': 'btn btn-xs btn-green tooltips', 'data-placement': 'top',  'data-original-title': '查看' do %>
                          <i class="fa fa-eye"></i>
                      <% end    %>
                      <%= link_to edit_xmt_test_question_path(question,channel_id:@channel.try(:id)), 'class': 'btn btn-xs btn-teal tooltips', 'data-placement': 'top',  'data-original-title': '修改' do %>
                          <i class="fa fa-edit"></i>
                      <% end   %>
                      <%= link_to  xmt_test_question_path(question,channel_id:@channel.try(:id)), 'class': 'btn btn-xs btn-bricky tooltips', 'data-placement': 'top', 'data-original-title': '删除', method: :delete, data: { confirm: '确定删除?' } do %>
                          <i class="fa fa-times"></i>
                      <% end   %>
                    </div>
                    <div class="visible-xs visible-sm hidden-md hidden-lg">
                      <div class="btn-group">
                        <a class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" href="#">
                          <i class="clip-cog"></i> <span class="caret"></span>
                        </a>
                        <ul role="menu" class="dropdown-menu pull-right">
                          <li role="presentation">
                            <%= link_to xmt_test_question_path(question,channel_id:@channel.try(:id)), 'tabindex': '-1', 'role': 'menuitem' do %>
                                <i class="fa fa-eye"></i> 查看
                            <% end %>
                          </li>
                          <li role="presentation">
                            <%= link_to edit_xmt_test_question_path(question,channel_id:@channel.try(:id)), 'tabindex': '-1', 'role': 'menuitem' do %>
                                <i class="fa fa-edit"></i> 修改
                            <% end %>
                          </li>
                          <li role="presentation">
                            <%= link_to xmt_test_question_path(question,channel_id:@channel.try(:id)), 'tabindex': '-1', 'role': 'menuitem', method: :delete, data: { confirm: 'Are you sure?' } do %>
                                <i class="fa fa-times"></i> 删除
                            <% end %>
                          </li>
                        </ul>
                      </div>
                    </div></td>
                </tr>
            <% end %>
            </tbody>
            <footer>
              <tr><td colspan="7"><%= paginate @questions, views_prefix: :xmt %></td></tr>
            </footer>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="panel-body">
  <div class="row">
    <div class="col-md-12 space20">

    </div>
  </div>
</div>

</div>
