<!-- about-top -->
<div class="agileits-about-top">
  <div class="container">
    <h3 class="heading-agileinfo">Services<span>Skin,Nails and Beauty Services</span></h3>
    <div class="agileinfo-top-grids">
      <div class="col-sm-4 wthree-top-grid">
        <!--<img src="images/g1.jpg" class="img-responsive" alt="" />-->
        <%= image_tag('g1.jpg',class:'img-responsive')%>
        <h4>Packages</h4>
        <p>Pellentesque auctor euismod lectus a pretium. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
      </div>
      <div class="col-sm-4 wthree-top-grid">
        <img src="images/g2.jpg" class="img-responsive" alt="" />
        <%= image_tag('g2.jpg',class:'img-responsive')%>
        <h4>Mani-Pedi</h4>
        <p>Pellentesque auctor euismod lectus a pretium. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
      </div>
      <div class="col-sm-4 wthree-top-grid">
        <!--<img src="images/g3.jpg" class="img-responsive" alt="" />-->
        <%= image_tag('g3.jpg',class:'img-responsive')%>
        <h4>Facial</h4>
        <p>Pellentesque auctor euismod lectus a pretium. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
      </div>
      <div class="col-sm-4 wthree-top-grid">
        <!--<img src="images/g4.jpg" class="img-responsive" alt="" />-->
        <%= image_tag('g4.jpg',class:'img-responsive')%>
        <h4>Regular Wax</h4>
        <p>Pellentesque auctor euismod lectus a pretium. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
      </div>
      <div class="col-sm-4 wthree-top-grid">
        <!--<img src="images/g5.jpg" class="img-responsive" alt="" />-->
        <%= image_tag('g5.jpg',class:'img-responsive')%>
        <h4>Threading</h4>
        <p>Pellentesque auctor euismod lectus a pretium. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
      </div>
      <div class="col-sm-4 wthree-top-grid">
        <!--<img src="images/g6.jpg" class="img-responsive" alt="" />-->
        <%= image_tag('g6.jpg',class:'img-responsive')%>
        <h4>Bleach</h4>
        <p>Pellentesque auctor euismod lectus a pretium. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
<!-- //about-top -->