<!-- gallery -->
<div class="banner-bottom gallery">
  <div class="container">
    <h3 class="heading-agileinfo">Our Gallery<span>Skin,Nails and Beauty Services</span></h3>
    <div class="w3ls_gallery_grids">
      <div class="col-md-4 w3_agile_gallery_grid">
        <div class="agile_gallery_grid">
          <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="images/g1.jpg">
            <div class="agile_gallery_grid1">
              <!--<img src="images/g1.jpg" alt=" " class="img-responsive" />-->
              <%= image_tag('g1.jpg',class:'img-responsive')%>
              <div class="w3layouts_gallery_grid1_pos">
                <h3>Pedicure</h3>
                <p> Beauty</p>
              </div>
            </div>
          </a>
        </div>
        <div class="agile_gallery_grid">
          <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="images/g2.jpg">
            <div class="agile_gallery_grid1">
              <!--<img src="images/g2.jpg" alt=" " class="img-responsive" />-->
              <%= image_tag('g2.jpg',class:'img-responsive')%>
              <div class="w3layouts_gallery_grid1_pos">
                <h3>Pedicure</h3>
                <p> Beauty</p>
              </div>
            </div>
          </a>
        </div>
        <div class="agile_gallery_grid">
          <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="images/g3.jpg">
            <div class="agile_gallery_grid1">
              <!--<img src="images/g3.jpg" alt=" " class="img-responsive" />-->
              <%= image_tag('g3.jpg',class:'img-responsive')%>
              <div class="w3layouts_gallery_grid1_pos">
                <h3>Pedicure</h3>
                <p> Beauty</p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4 w3_agile_gallery_grid">
        <div class="agile_gallery_grid">
          <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="images/g4.jpg">
            <div class="agile_gallery_grid1">
              <!--<img src="images/g4.jpg" alt=" " class="img-responsive" />-->
              <%= image_tag('g4.jpg',class:'img-responsive')%>
              <div class="w3layouts_gallery_grid1_pos">
                <h3>Pedicure</h3>
                <p> Beauty</p>
              </div>
            </div>
          </a>
        </div>
        <div class="agile_gallery_grid">
          <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="images/g5.jpg">
            <div class="agile_gallery_grid1">
              <!--<img src="images/g5.jpg" alt=" " class="img-responsive" />-->
              <%= image_tag('g5.jpg',class:'img-responsive')%>
              <div class="w3layouts_gallery_grid1_pos">
                <h3>Pedicure</h3>
                <p> Beauty</p>
              </div>
            </div>
          </a>
        </div>
        <div class="agile_gallery_grid">
          <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="images/g6.jpg">
            <div class="agile_gallery_grid1">
              <!--<img src="images/g6.jpg" alt=" " class="img-responsive" />-->
              <%= image_tag('g6.jpg',class:'img-responsive')%>
              <div class="w3layouts_gallery_grid1_pos">
                <h3>Pedicure</h3>
                <p> Beauty</p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4 w3_agile_gallery_grid">
        <div class="agile_gallery_grid">
          <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="images/g7.jpg">
            <div class="agile_gallery_grid1">
              <!--<img src="images/g7.jpg" alt=" " class="img-responsive" />-->
              <%= image_tag('g7.jpg',class:'img-responsive')%>
              <div class="w3layouts_gallery_grid1_pos">
                <h3>Pedicure</h3>
                <p> Beauty</p>
              </div>
            </div>
          </a>
        </div>
        <div class="agile_gallery_grid">
          <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="images/g8.jpg">
            <div class="agile_gallery_grid1">
              <img src="images/g8.jpg" alt=" " class="img-responsive" />
              <%= image_tag('g8.jpg',class:'img-responsive')%>
              <div class="w3layouts_gallery_grid1_pos">
                <h3>Pedicure</h3>
                <p> Beauty</p>
              </div>
            </div>
          </a>
        </div>
        <div class="agile_gallery_grid">
          <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="images/g9.jpg">
            <div class="agile_gallery_grid1">
              <!--<img src="images/g9.jpg" alt=" " class="img-responsive" />-->
              <%= image_tag('g9.jpg',class:'img-responsive')%>
              <div class="w3layouts_gallery_grid1_pos">
                <h3>Pedicure</h3>
                <p> Beauty</p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- //gallery -->