<%#title:网上调查详情页%>
<!--问卷调查功能-->
<div>
  <div id="header" >
    <a class="header_logo" href="/">投票功能</a>
  </div>
</div>
<div class="content">
  <!--问卷调查内容-->
  <div class="vote" >
    <%= form_tag("/polls/#{Xmt::Faq::Poll.last.id}",method:"put") do %>
      <%= hidden_field_tag 'site_id', @site.id %>
      <% Xmt::Faq::Poll.last.questions.each_with_index  do |q,i| %>
        <div class="votechoice">
          <ul class="vote<%= i + 1 %>">
            <p><%= q.title %></p>
            <% q.answers.each do |item| %>
              <li><input type="radio" name="answers[<%= q.id%>]" value="<%= item.id %>"/><span class="votechoicename"><%= item.title %></span></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <button type="submit" class="button blue" >投票</button>
    <% end %>
  </div>
</div>