<!-- About us -->
<div class="about-3">


  <div class="container">
    <div class="d-flex">

      <div class="about1">
        <h5> 指尖新时尚，秀出大不同。</h5>
        <p>十指芊芊，美甲做作作；美甲作作，十指千芊芊。</p>
        <p>美丽的您需要一双美甲，美甲去哪里，就来Zeta美甲。</p>
        <a class="join-wthree" href="/pages/5b8bae2320ed4e05aa9eb31a" target="_blank">了解更多
          <i class="fa fa-hand-o-right" aria-hidden="true"></i>
        </a>
      </div>
      <div class="about2">
      </div>
    </div>

  </div>
</div>
<!-- //About us -->
<!-- wthree-mid -->
<div class="wthree-mid">
  <div class="container">
    <h3>流淌指尖的颜色&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;彰显艺术之美</h3>
    <p>Flowing fingertips color &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Highlighting the beauty of Art</p>
    <div class="botton">
      <a class="join-wthree" href="#" data-toggle="modal" data-target="#myModal">了解更多
        <i class="fa fa-hand-o-right" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</div>
<!-- //wthree-mid -->
<!--<div class="donails">-->
  <!--<div class="container">-->
    <!--<h3 class="heading-agileinfo">美甲 & 美睫!<span>Zeta专业美甲美睫</span></h3>-->

    <!--<div class="col-md-6 donail_right">-->
      <!--<div class="mwho-we-textmks">-->
        <!--<div class="who-right-mainsmkits">-->
          <!--<div class="panel-group textmk_panel_group_faq" id="accordion" role="tablist" aria-multiselectable="true">-->
            <!--<div class="panel panel-default">-->
              <!--<div class="panel-heading" role="tab" id="headingOne">-->
                <!--<h4 class="panel-title asd">-->
                  <!--<a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">-->
                    <!--美甲<span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>-->
                  <!--</a>-->
                <!--</h4>-->
              <!--</div>-->
              <!--<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false" style="height: 0px;">-->
                <!--<div class="panel-body panel_text">-->
                  <!--<p>根据客人的手形、甲形、肤质、服装的色彩和要求，对指（趾）甲进行消毒、清洁、护理、保养、修饰美化的过程。</p>-->
                  <!--<h6>美甲形式如下：</h6>-->
                  <!--<ul>-->
                    <!--<li>手工美甲</li>-->
                    <!--<li>机器美甲</li>-->
                  <!--</ul>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="panel panel-default">-->
              <!--<div class="panel-heading" role="tab" id="headingTwo">-->
                <!--<h4 class="panel-title asd">-->
                  <!--<a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">-->
                    <!--美睫<span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>-->
                  <!--</a>-->
                <!--</h4>-->
              <!--</div>-->
              <!--<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false">-->
                <!--<div class="panel-body panel_text">-->
                  <!--<p>可令女性的眼睛有立竿见影美得效果，无需擦涂睫毛膏，便想要有多长多翘的睫毛都可以拥有，且根据眼睛形，可设计出根根分明，逼真的睫毛，让眼睛立刻有神采，无需化妆，更能使眼睛明艳动人，脉脉含情等效果。</p>-->
                  <!--<h6>美睫形式如下：</h6>-->
                  <!--<ul>-->
                    <!--<li>嫁接睫毛</li>-->
                  <!--</ul>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->

          <!--</div>-->
        <!--</div>-->
        <!--<div class="clearfix"> </div>-->
        <!--<div class="botton">-->
          <!--<a class="join-wthree" href="#" data-toggle="modal" data-target="#myModal">了解更多-->
            <!--<i class="fa fa-hand-o-right" aria-hidden="true"></i>-->
          <!--</a>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="col-md-6 donail_left">-->
    <!--</div>-->
    <!--<div class="clearfix"> </div>-->
  <!--</div>-->
<!--</div>-->
<!-- pricing -->
<div class="w3ls-section wthree-pricing">
  <div class="container">

    <h3 class="heading-agileinfo">动态展示<span>Zeta专业美甲美睫</span></h3>
    <div class="pricing-grids-info">

      <% hlp_list_article('5b8bae6f20ed4e05aa9eb323').each_with_index  do |article,i| %>
        <div class="pricing-grid grid-<%= i + 1 %>">
          <div class="w3ls-top">
            <h3><%= article.attr(:title)%></h3>
          </div>
          <div class="w3ls-bottom">
            <ul class="count">
              <li><%= article.attr(:cont,{html_safe: true})%></li>
            </ul>

            <div class="more">
              <a href="/pages/5b8bae5420ed4e05aa9eb320" target="_blank">现在预约</a>
            </div>
          </div>
        </div>
      <% end %>

      <div class="clearfix"> </div>
      <!--End-slider-script-->
    </div>
  </div>
</div>
<!--//pricing-->

<!-- Clients -->
<div class="clients">
  <div class="container">
    <div class="wthree_head_section">
      <h3 class="heading-agileinfo">活动专区<span>Zeta专业美甲美睫</span></h3>
    </div>

    <section class="slider">
      <div class="flexslider">
        <ul class="slides">
          <% hlp_list_article('5b8bae8120ed4e05aa9eb325',{count:4}).each do |article| %>
            <li>
              <%= image_tag(article.attr('avatar.url',{default:'t1.jpg'}))%>
              <p><%= article.attr(:cont,{html_safe: true}) %></p>
              <div class="client">
                <h5><%= article.attr(:title) %></h5>
              </div>
            </li>
          <% end %>
          <!--<li>-->
            <!--<img src="images/t1.jpg" alt="" />-->
            <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation .</p>-->
            <!--<div class="client">-->
              <!--<h5>Gerald Roy</h5>-->
            <!--</div>-->
          <!--</li>-->
        </ul>
      </div>
    </section>
  </div>
</div>
<!-- //Clients -->