<div class="page-header">
  <h1>查看依申请<small></small></h1>
</div>
<p id="notice"><%= notice %></p>
<div class="panel panel-body panel-default">
  <div class="form-group marbot0">
    <label class="col-xs-12 col-sm-3 col-md-2  control-label"><span class="text-danger"></span><strong>标题：</strong></label>
    <div class="col-sm-9 col-xs-12">
      <p class="form-control-static"><%= @sharedoc.title %></p>
    </div>
  </div>
  <div class="form-group marbot0">
    <label class="col-xs-12 col-sm-3 col-md-2  control-label"><span class="text-danger"></span><strong>时间：</strong></label>
    <div class="col-sm-9 col-xs-12">
      <p class="form-control-static"><%= @sharedoc.published_at && @sharedoc.published_at.strftime('%Y-%m-%d %H:%M:%S').to_s  %></p>
    </div>
  </div>
  <div class="form-group marbot0">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span class="text-danger"></span><strong>内容：</strong></label>
    <div class="col-sm-9 col-xs-12">
      <p class="form-control-static"><%= @sharedoc.cont %></p>
    </div>
  </div>
  <div class="form-group marbot0">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span class="text-danger"></span><strong>回复：</strong></label>
    <div class="col-sm-9 col-xs-12">
      <p class="form-control-static"><%= @sharedoc.reply %></p>
    </div>
  </div>
  <div class="form-group marbot0">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span class="text-danger"></span><strong>回复人:</strong>
    </label>
    <div class="col-sm-9 col-xs-12">
      <p class="form-control-static"><%= @sharedoc.replyname %></p>
    </div>
  </div>
  <div class="form-group marbot0">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span class="text-danger"></span><strong>回复时间：</strong></label>
    <div class="col-sm-9 col-xs-12">
      <p class="form-control-static"><%= @sharedoc.replytime && @sharedoc.replytime.strftime('%Y-%m-%d %H:%M:%S').to_s  %></p>
    </div>
  </div>

</div>

<div class="col-lg-12 space20">
  <%= link_to  xmt_mgr_sharedocs_path(site_id:params[:site_id]), class: "btn btn-primary" do %>
      <i class="fa fa-reply"></i>
  <% end %>
</div>

