<%#title : 依安专题模版 %>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title><%= @page.id == @site.id ? "中国·依安" : "#{@page.title} - 中国·依安"%></title>
  <meta name="keywords" content="中国·依安" />
  <meta name="description" content="中国·依安" />
  <%= stylesheet_link_tag 'theme_yaxzf_zt', media: "all", 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'theme_yaxzf_zt', 'data-turbolinks-track': 'reload' %>

</head>
<body style="background-image:url(<%=@page.avatar_url('zzstbg002.jpg')%>)">
<div class="top_link">
  <div class="top_link_content">
    <div class="top_link_content_left">
      <a href="http://www.gov.cn/" target="blank" >中国政府网</a>
      &nbsp;|&nbsp;
      <a href="http://www.hlj.gov.cn/" target="blank">黑龙江省人民政府</a>
      &nbsp;|&nbsp;
      <a href="http://www.qqhr.gov.cn/" target="blank">齐齐哈尔市人民政府</a>
    </div>
    <div class="top_link_content_center">
      &nbsp;&nbsp;<a href="/pages/59af59f56df5eb1b0c87c37d" >县委</a>
      &nbsp;&nbsp;<a href="/pages/59af5a0f6df5eb1b0c87c37f" >县人大</a>
      <a href="/pages/59af5a286df5eb1b0c87c381" >县政府</a>
      &nbsp;<a href="/pages/59af5a3c6df5eb1b0c87c383" >县政协</a>
    </div>
    <!---20171018 add Weather Start--->
  </div>
  <!---20171018 add Weather End--->
  <div style="clear:both;"></div>
</div>
<!--- top link end --->
<!--- top img start --->
<div class="top_img">

</div>

<div class="part_a">
  <!--- nav start --->
  <div class="navigation-v3">
    <ul>
      <li class="" _t_nav="home">
        <a href="/" >网站首页</a>
      </li>
      <li class="" _t_nav="zjya">
        <a href="/pages/59acf4286df5eb22e89655f3" >走进依安</a>
      </li>
      <li class="" _t_nav="yaxw">
        <a href="javascript:;" >依安新闻</a>
      </li>
      <li class="" _t_nav="zwgk">
        <a href="/pages/59acf42b6df5eb22e8965614" >政务公开</a>
      </li>
      <li class="" _t_nav="bsfw">
        <a target="_blank" href="http://221.209.42.130:8855/qqhe_yzx/public/index" >网上办事</a>
      </li>
      <li _t_nav="zmhd">
        <a href="javascript:;" >政民互动</a>
      </li>
      <li _t_nav="tzzn">
        <a href="javascript:;" >投资指南</a>
      </li>
      <li _t_nav="ztbd">
        <a href="javascript:;"  style="background-image:none;">专题报道</a>
      </li>
    </ul>
  </div>


  <div class="navigation-down">
    <div id="zjya" class="nav-down-menu menu-1" style="display: none;" _t_nav="zjya">
      <ul>
        <li><a href="/pages/59acf4286df5eb22e89655f2" >县长致辞</a></li>
        <li><a href="/pages/59acf4286df5eb22e89655f4" >依安视频</a></li>
        <li><a href="/pages/59acf4286df5eb22e89655f5" >历史沿革</a></li>
        <li><a href="/pages/59acf4286df5eb22e89655f6" >行政区域</a></li>
        <li><a href="/pages/59acf4286df5eb22e89655f7" >物产资源</a></li>
        <li><a href="/pages/59acf4286df5eb22e89655f8" >经社总貌</a></li>
        <li><a href="/pages/59acf4286df5eb22e89655fa" >依安美图</a></li>
        <li><a href="/pages/59acf4286df5eb22e89655fb" >依安文艺</a></li>
        <li style="background-image:none;"><a href="/pages/59acf4286df5eb22e89655fc" >依安故事</a></li>
      </ul>
    </div>

    <div id="yaxw" class="nav-down-menu menu-3 menu-1" style="display: none;" _t_nav="yaxw">
      <ul style="margin-left: 183px;">
        <li><a  href="/pages/59acf4296df5eb22e89655fd" >依安要闻</a></li>

        <li><a href="/pages/59acf4296df5eb22e8965600" >公告公示</a></li>
        <li><a href="/pages/59acf4296df5eb22e8965601" >乡镇动态</a></li>
        <li style="background-image:none;"><a href="/pages/59acf9716df5eb23e4cc06c7" >部门之窗</a></li>
      </ul>
    </div>

    <div id="zwgk" class="nav-down-menu menu-3 menu-1" style="display: none;" _t_nav="zwgk">
      <ul style="margin-left: 162px;">
        <li><a href="/pages/5a05188a12c15b0d16d9b93e" >最新公开</a></li>
        <li><a href="/pages/5a1382826df5eb146c717630" >基本公开</a></li>
        <li><a href="/pages/5a1380d46df5eb146c71762a" >公开制度</a></li>
        <li><a href="/pages/5a1381106df5eb146c71762c" >公开指南</a></li>
        <li><a href="/pages/5a13813e6df5eb146c71762e" >公开年报</a></li>
        <li><a href="/pages/5a0518b112c15b0d1ad2dd30" >公开目录</a></li>
        <li><a href="/pages/5a051d4912c15bbe94fe6503" >重点领域</a></li>
        <li style="background-image:none;"><a href="/sharedocs/new?id=59ad09ef6df5eb2054ba60cc" >依申请公开</a></li>
      </ul>
    </div>

    <div id="zmhd" class="nav-down-menu menu-3 menu-1" style="display: none;" _t_nav="zmhd">
      <ul style="margin-left: 558px;">
        <li><a href="http://222.171.204.18:9091/2302/230223/"  target="_blank">领导信箱</a></li>
        <li><a href="/pages/59acf42b6df5eb22e8965615" >在线访谈</a></li>
        <li><a href="/messages/new?id=59ad0b206df5eb2054ba60d0" >网上咨询</a></li>
        <li><a href="/pages/59acf42b6df5eb22e8965617" >民意征集</a></li>
        <li style="background-image:none;"><a href="/polls?id=59ae57a66df5eb1e3cab81a2" >网上调查</a></li>
      </ul>
    </div>

    <div id="tzzn" class="nav-down-menu menu-3 menu-1" style="display: none;" _t_nav="tzzn">
      <ul style=" float: right">
        <li><a href="/pages/59acf42b6df5eb22e8965619" >招商项目</a></li>
        <li><a href="/pages/59acf42b6df5eb22e896561b" >产业风采</a></li>
        <li><a href="/pages/59acf42b6df5eb22e896561c" >招商成本</a></li>
        <li><a href="/pages/59acf42b6df5eb22e896561d" >资源条件</a></li>
        <li style="background-image:none;"><a href="/pages/59acf42b6df5eb22e896561e" >联系方式</a></li>

      </ul>
    </div>

    <div id="ztbd" class="nav-down-menu menu-3 menu-1" style="display: none;" _t_nav="ztbd">
      <ul style="float: right">
        <li><a href="/pages/59acf42c6df5eb22e8965621" >脱贫攻坚</a></li>
        <li><a href="/pages/59acf42c6df5eb22e8965622" >美丽乡村</a></li>
        <li><a href="/pages/59cef1e112c15bae608eee2b" >普法专栏</a></li>
        <li><a href="/pages/59eda28812c15b8e25f59460" >十九大专题</a></li>
        <li><a href="/pages/59eefdee12c15b7d03e6f516" >双随机一公开</a></li>
        <li style="background-image:none;"><a href="/pages/5a278e4812c15b2a8109aa7a" >政治生态建设</a></li>
      </ul>
    </div>
  </div>
  <!--- nav end --->
</div>

<div class="part_b">
  <!--- left start --->
  <div class="part_b_left" style="width:660px;">
    <ul>
      <% list_article('59acf4296df5eb22e89655fe', 10,1,2).each do |new|%>
          <li><a href="<%= new.url%>" ><%= new.title%></a></li>
      <%end%>
    </ul>
  </div>
  <!--- left end --->



  <!---20171018 add Weather Start--->
  <iframe name="weather_inc" src="http://i.tianqi.com/index.php?c=code&py=yian&id=99" style=" float:left; margin-top:-3px;" width="160" height="36" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
  <!---20171018 add Weather End--->



  <!--- right start --->
  <div class="part_b_right">
    <%= form_tag('/searchs/59acf42d6df5eb22e8965626',{method: "get", id:"search_form1"}) do %>
        <input type="hidden" name="site_id" value="<%= @site.id %>">
        <input class="part_b_right_input" size="22" id="keywords"  name="keywords" type="text">
        <button class="part_b_right_button" type="submit" onclick="javascript: document.getElementById('search_form1').submit();">搜索</button>
    <% end %>
  </div>
  <!--- right end --->
  <div style="clear:both;"></div>
</div>


<!--内容部分开始-->
<%= yield %>
<!--内容部分结束-->


<!--- part k foot start --->
<div class="part_k">
  <a href="http://bszs.conac.cn/sitename?method=show&amp;id=0AC405A3086721C6E053022819AC6C47" class="part_k_a" target="_blank"><img id="imgConac" border="0" hspace="0" src="http://dcs.conac.cn/image/red.png" data-bd-imgshare-binded="1"></a>
  <div class="part_k_b  f000">
    <p><span>主办 : 依安县人民政府</span>     <span>承办 : 依安县信息中心</span>     <span>技术支持 : <a href="http://www.hljxmt.cn" target="_blank">黑龙江新媒体集团有限公司</a></span></p>
    <p><span>联系电话(传真) : 0452-7024044</span>    <span>0452-7027100</span>     <span>E-mail : yianxxzx@163.com</span></p>
    <p><span>备案号 : 黑ICP备07003579号</span>     <span>网安备案号 : 201101023</span></p>
    <p>建议使用：IE8以上浏览器或切换浏览器为极速模式，浏览器为1024以上分辨率</p>
  </div>
  <script class="part_k_c" id="_jiucuo_" src="http://pucha.kaipuyun.cn/exposure/jiucuo.js" sitecode="2302230001"></script>
  <div class="part_k_d">
    <a href="/pages/59acf42c6df5eb22e8965624" >关于我们</a>  |  <a href="/pages/59ae0fb36df5eb13b8fd4b80" >网站声明</a>  |  <a href="/pages/59acf42d6df5eb22e8965625" >联系我们</a>
  </div>
  <div style="clear: both;"></div>
</div>


<!--- part k foot end --->

<script type="text/javascript">
  //nav js begin
  jQuery(document).ready(function(){
    var qcloud={};
    $('[_t_nav]').hover(function(){
      var _nav = $(this).attr('_t_nav');
      clearTimeout( qcloud[ _nav + '_timer' ] );
      qcloud[ _nav + '_timer' ] = setTimeout(function(){
        $('[_t_nav]').each(function(){
          $(this)[ _nav == $(this).attr('_t_nav') ? 'addClass':'removeClass' ]('nav-up-selected');
        });
        $('#'+_nav).stop(true,true).slideDown(200);
      }, 150);
    },function(){
      var _nav = $(this).attr('_t_nav');
      clearTimeout( qcloud[ _nav + '_timer' ] );
      qcloud[ _nav + '_timer' ] = setTimeout(function(){
        $('[_t_nav]').removeClass('nav-up-selected');
        $('#'+_nav).stop(true,true).slideUp(200);
      }, 150);
    });
  });
  //nav js end

  //part b left news turn up js begin
  function autoScroll(obj){
    $(obj).find("ul").animate({
      marginTop : "-30px"
    },500,function(){
      $(this).css({marginTop : "0px"}).find("li:first").appendTo(this);
    })
  }
  $(function(){
    setInterval('autoScroll(".part_b_left")',8000);
  })
  //part b left news turn up js end


  //tab js begin
  function setTab(name,cursel,n){
    for(i=1;i<=n;i++){
      var menu=document.getElementById(name+i);
      var con=document.getElementById("con_"+name+"_"+i);
      menu.className=i==cursel?"hover":"";
      con.style.display=i==cursel?"block":"none";
    }
  }
  //tab js end





  //part f bottom turn_tab js begin
  $(function(){

    var width = 1200; //跟外面盒子的宽度一样，或者写成 var width = $(".content").width();
    var ulNum = $(".part_f_bottom_content ul").length; //获取ul的个数
    var contentWidth = width * ulNum; //获取整个box应该的长度，刚开始box设置成了1100，但是应该把所有的ul防到一行里面去，这样box向左移动的时候才是无缝滚动

    $(".box").width(contentWidth); //给box设置宽度  .width() 是获取宽度  .width(value)是设置宽度

    $(".nav span").click(function(){

      $(this).addClass('active').siblings().removeClass('active');

      var clickNum = $(this).index(); //判断点击的是第几个span .index()方法返回第几个，从0开始算起
      //alert(clickNum);

      var moveLeft = clickNum * width * -1; //应该向左移动的距离

      $(".box").animate({'left':moveLeft}, 600);
    })

  });
  //part f bottom turn_tab js end





  //part i turn_tab js begin
  $(".part_i").slide({
    titCell:".hd ul",
    mainCell:".bd ul",
    autoPage:true,
    effect:"left",
    autoPlay:true,
    scroll:4,
    vis:4,
    delayTime:1000
  });
  //part i turn_tab js end
</script>



<!--- 20170920 add ad turn img js start --->
<script type="text/javascript">
  $(".fullSlide").hover(function(){
        $(this).find(".prev,.next").stop(true, true).fadeTo("show", 0.5)
      },
      function(){
        $(this).find(".prev,.next").fadeOut()
      });
  $(".fullSlide").slide({
    titCell: ".hd ul",
    mainCell: ".bd ul",
    effect: "fold",
    autoPlay: true,
    autoPage: true,
    trigger: "click",
    startFun: function(i) {
      var curLi = jQuery(".fullSlide .bd li").eq(i);
      if ( !! curLi.attr("_src")) {
        curLi.css("background-image", curLi.attr("_src")).removeAttr("_src")
      }
    }
  });
</script>




<!--- 20171018 add weather js start --->
<script>$('#demo2').leoweather();</script>
<!--- 20171018 add weather js end --->

</body>
</html>
